.activeProject {
  min-height: 100%;
  text-align: center;
  padding: 1.5rem;
  background-color: var(--dark-gray);
}

.activeProject__wrapper {
  margin: 0 auto;
  max-width: 30rem;
}

.activeProject__img {
  height: 2rem;
  float: right;
  cursor: pointer;
}

.activeProject__name {
  padding: 4rem 0 0.6rem;
  color: var(--yellow);
}

.activeProject__tech {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.activeProject__desc {
  margin-top: 1.7rem;
  font-style: italic;
  font-weight: 100;
  color: white;
}

.activeProject__role {
  margin-top: 1.5rem;
  font-weight: 500;
  color: white;
}

.activeProject__links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.activeProject__link {
  width: 10rem;
  margin: 0.5rem auto;
  padding: 0.7rem 0;
  text-align: center;
  color: white;
  letter-spacing: 0.1rem;
  border: 1px solid var(--yellow);
  text-decoration: none;
  cursor: pointer;
}

.activeProject__link:hover {
  background-color: var(--yellow);
  color: var(--gray);
}

@media screen and (min-width: 1024px) {
  .activeProject__wrapper {
    max-width: 35rem;
  }
}