.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem auto;
}

.form__input,
.form__textarea {
  padding: 1rem 1.2rem;
  margin-bottom: 0.7rem;
  background-color: rgba(255, 255, 255, 0.705);
  border: none;
  box-shadow: inset 2px 2px 5px #b8b9be,inset -8px -8px 15px #fff!important;
  border-radius: 0.8rem;
}

.form__textarea {
  padding-bottom: 4rem;
}

.form__button {
  width: 9rem;
  height: 3rem;
  margin: 1rem auto;
  box-shadow: 6px 6px 12px #4d535f57,-15px -15px 16px #fff!important;
  background-color: #F5F5F5;
  border: none;
  border-radius: 15px;
  line-height: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #4D535F;
  padding-left: 0;
  cursor: pointer;
}

.form__response {
  margin: 5rem 0;
  padding: 1rem;
  background-color: white;
}

.contact__img {
  width: 100px;
  margin: 1.5rem;
}

.form__loader {
  margin: 1.5rem auto;
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
  33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
  66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
  100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}