.contact {
  height: 100%;
}

.contact__container {
  height: 90%;
  max-width: 32rem;
  margin: 0 auto;
  text-align: center;
}

.contact p {
  margin: 0.3rem;
  font-size: 1.1rem;
}

.contact__wrapper p:last-child {
  margin-top: 1rem;
  font-weight: 700;
}

