.contact__container {
  max-width: 32rem;
  margin: 0 auto 2rem;
  text-align: center;
  overflow-y: scroll;
}

.contact p {
  margin: 0.3rem;
  font-size: 1.1rem;
}

.contact__wrapper p:last-child {
  margin-top: 1rem;
  font-weight: 700;
}

.contact__footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}