.intro {
  height: 100%;
  text-align: center;
}

.intro__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.intro__hello,
.intro__name {
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.intro__name {
  font-size: 1.3rem;
  height: 4rem;
  width: 50vh;
  line-height: 3rem;
  background-image: url('../images/paint.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 120%;
}

.intro__dev {
  font-weight: 200;
  margin-bottom: 3rem;
}

.intro__btn {
  padding: 1rem;
  box-shadow: 6px 6px 12px #4d535f57,-15px -15px 16px #fff!important;
  background-color: rgba(255, 255, 255, 0.905);
  text-decoration: none;
  border-radius: 15px;
  line-height: 3rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #4D535F;
}

.intro__footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .intro__hello {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro__name {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  height: 8rem;
  line-height: 7rem;
  background-image: url('../images/paint.png');
}

.intro__dev {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.intro__btn {
  padding: 1.5rem;
  line-height: 3rem;
  font-size: 1.7rem;
}

.intro__footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
}