.wrapper > * {
  max-width: 100%;
  margin: 1rem auto;
}

.videoFrame__car {
  height: 190px;
  width: 300px;
}

@media screen and (min-width: 600px) {
  .videoFrame__car {
    height: 300px;
    width: 480px;
  }
}

