.nav {
  padding: 0.4rem 1rem;
  display: flex;
  background-color: rgba(255, 255, 255, 0.538);
  border-bottom: 0.5px solid #d3d4d6;
}

.nav button {
  background-color: transparent;
  border: none;
}

.nav__burger {
  margin-top: 0.2rem;
  height: 2.3rem;
}

.nav__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__icon {
  height: 2rem;
  margin-left: 0.8rem
}

.nav__list {
  display: flex;
  flex-direction: row;
}

.nav__list li {
  padding: 0.5rem;
  margin-right: 1.5rem;
  white-space: nowrap;
  list-style: none;
  font-size: 1.5rem;
}

.nav__active {
  background-color: var(--yellow);
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 1rem 1.5rem;
  }
  
  .nav__burger {
    margin-top: 0.2rem;
    height: 2.7rem;
  }
  
  .nav__icon {
    height: 2.2rem;
    margin-left: 1.2rem
  }
 }
