.nav {
  padding: 0.4rem 1rem;
  display: flex;
  background-color: rgba(255, 255, 255, 0.538);
  border-bottom: 0.5px solid #d3d4d6;
}

.nav-colored {
  background-color: red;
}

.nav button {
  background-color: transparent;
  border: none;
}

.nav__burger {
  margin-top: 0.2rem;
  height: 2.3rem;
}

.nav__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__icon {
  height: 2rem;
  margin-left: 0.8rem
}
