.nav {
  padding: 1rem;
  display: flex;
}

.nav button {
  background-color: transparent;
  border: none;
}

.nav__burger {
  height: 2.8rem;
}

.nav__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__icon {
  height: 2.3rem;
  margin-left: 0.8rem
}
