.projects__wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 35rem;
}



@media screen and (min-width: 768px) {
  .projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 45rem;
  }
  
  .projects__wrapper > * {
    flex: 40%;
    margin: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 60rem;
    margin-bottom: 2rem;
  }
  
  .projects__wrapper > * {
    flex: 40%;
    margin: 1.5rem;
  }
}