.project {
  position: relative;
  width: 85%;
  max-height: 20rem;
  margin: 2rem auto;
  padding: 0.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.705);
  box-shadow: inset 2px 2px 5px #b8b9be,inset -8px -8px 15px #fff;
  border-radius: 15px;
  cursor: pointer;
}

.project__name {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}

.project__tech {
  font-size: 0.8rem;
  font-weight: 400;
}

.project__img {
  position: relative;
  width: 70%;
  margin: 1rem 0 0.5rem;
}

.project__loupe {
  position: absolute;
  background-image: url('../images/loupe.png');
  background-size: cover;
  opacity: 0.2;
  height: 80px;
  width: 80px;
  right: 20px;
  bottom: 20px;
}