
.projects__wrapper {
  margin: 0 auto;
  max-width: 35rem;
}

@media screen and (min-width: 768px) {
  .projects__wrapper {
    height: 87%;
    display: flex;
    flex-wrap: wrap;
    max-width: 45rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
  
  .projects__wrapper > * {
    flex: 40%;
    max-width: 20rem;
    margin: 0.5rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .projects__wrapper {
    margin-bottom: 1rem;
  }
  .projects__wrapper > * {
    flex: 35%;
    margin: 1rem;
  }
}

@media screen and (min-width: 1300px) {
  .projects__wrapper {
    margin-bottom: 3rem;
    max-width: 85%;
    justify-content: center;
  }
  .projects__wrapper > * {
    width: 50rem;
    height: 17rem;
  }
}