.projects {
  height: 93%;
}

.projects__wrapper {
  margin: 0 auto;
  max-width: 35rem;
}

@media screen and (min-width: 768px) {
  .projects__wrapper {
    height: 87%;
    display: flex;
    flex-wrap: wrap;
    max-width: 45rem;
    margin-top: 5rem;
  }
  
  .projects__wrapper > * {
    flex: 40%;
    margin: 0 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .projects__wrapper {
    margin-bottom: 3rem;
  }
  .projects__wrapper > * {
    flex: 35%;
    margin: 1rem;
  }
  .projects__footer {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}

@media screen and (min-width: 1300px) {
  .projects__wrapper {
    margin-bottom: 3rem;
    flex-wrap: nowrap;
    max-width: 95%;
    overflow: hidden;
  }
  .projects__wrapper > * {
    flex: 20%;
    margin: 1rem;
    height: 20rem;
  }
}