:root {
  --light-gray: #8c8a8a;
  --gray: #4D535F;
  --dark-gray: #464c58d5;
  --blue: #A8DFF0;
  --yellow: #FFE552;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  color: var(--gray);
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none; 
}


body {
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  width: 100vw;
  background-image: url('../images/bcg.png');
  background-size: cover;
}

a {
  text-decoration: none;
}
